*{
	box-sizing: border-box;
}
#a{
	max-width: 1200px;
	margin: auto;
}
header,footer{
	border: 1px solid #0f0;
	margin: 0 10px;
}

.f{
	margin:2px 10px;
	padding: 5px 0;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
aside{
	width: 300px;
	min-height: 1000px;
	border: 1px solid #0f0;
	padding: 5px;
	float: left;
}
.ff{
	font-size: 20px;	
}
main{
	min-height: 1000px;
	border: 1px solid #0f0;	
	margin-left:310px ;
	width: auto;
}
